.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: black;
    color: white;
    font-size: 22px;
}

h1 {
    text-align: center;
  }
  .form-group {
    margin-top:14px;
  }

  .card {
   
    margin-bottom: 121px;
}